---
import SectionContainer from "./SectionContainer.astro";
import Nav from "./Nav.astro";
import ButtonGroup from "./button/ButtonGroup.astro";
import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";
import navData from "@/data/navData.json";
---

<header id="header" class="header fixed left-0 w-full z-30 top-0 bg-white-50">
    <SectionContainer class="header--container wrap-lg wrap-px mx-auto">
        <div class="header-logo--container">
            <h1 class="logo mb-0">
                <a href="/">
                    <Image
                        src="/logo.png"
                        alt="logo"
                        class="h-4 w-auto"
                        height={24}
                        aspectRatio={7 / 1}
                        format={"webp"}
                    />
                </a>
            </h1>
        </div>
        <SectionContainer class="flex items-center ml-auto">
            <Nav navItems={navData} />
            <ButtonGroup class="hidden md:block">
                <a
                    role="button"
                    href="https://github.com/christian-luntok/astro-nutritrack"
                    class="btn btn--secondary ml-4 bg-primary-200"
                >
                    Register
                </a>
            </ButtonGroup>
        </SectionContainer>
    </SectionContainer>
</header>
